<div ui-view="topNav"></div>
<!-- 内容主体 s -->
<div class="container-fluid" ng-controller="brandCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar pull-left">
            <div ui-view="leftNav"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">
            <span class="pull-right">
                <button type="button" class="btn btn-primary" data-animation="am-fade-and-scale" data-placement="center" ng-click="openAddBrand()">新增</button>
            </span>品牌管理</h2>
            <!-- <div ever-table-list people1="warehouseData"></div> -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>品牌名称</th>
                            <th>品牌简介</th>
                            <th width="200">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="brand in brandData">
                            <td>{{brand.id}}</td>
                            <td>{{brand.name}}</td>
                            <td>{{brand.intro}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="popUpdateBrand(brand)">编辑</button>
                                <button class="btn btn-warning" ng-click="popDelBrand(brand)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 翻页 S -->
            <div class="pull-right">
                <everPager></everPager>
            </div>
            <!-- 翻页 E -->
        </div>
    </div>
</div>
